body{
    background-color:black;
    color:white ; 
}

#nav .menuItem img{   
    float: left;
}


#nav .menuItem{   
    display: inline;
}


#nav .menuItem img{   
    float: left;
}
.navBarMain{
    z-index: 2;
}
.floatingNav{
    transform: translateX(0);
    display: absolute;
    opacity: 1;
    transition: all , 0.5s;
}
.customHidden{
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

.scrollHide{
    opacity: 0;
    filter:blur(5px);
    transform: translateY(100%);
    color: grey;
    transition: all , 1s;
}
.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}
.logo:nth-child(5){
    transition-delay: 800ms;
}
.logo:nth-child(6){
    transition-delay: 1000ms;
}
.logo:nth-child(7){
    transition-delay: 1200ms;
}
.logo:nth-child(8){
    transition-delay: 1400ms;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateY(0);
    color: white;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}



.videoSection video{
    z-index: -2;
}
.videoSection button{
    z-index: 0;
}
.scroller{
    max-width: 1600px;
}
.scroller__inner{
    padding-block: 1rem ;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
    transparent,
    white 20%,
    white 95%,
    transparent
    );
    mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 95%,
    transparent
    );
}
.scroller[data-animated="true"] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 30s) var(--_animation-direction, forwards)linear var(--_animated,infinite);
}
.scroller[data-direction="right"]{
    --_animation-direction: reverse;
}
.scroller[data-direction="left"]{
    --_animation-direction: forwards;
}
.scroller[data-duration="slow"]{
    --_animation-duration: 120s;
}
.scroller[data-duration="fast"]{
    --_animation-duration: 10s; 
}
.scroller[data-animation="stop"]{
    --_animated: paused;
}
.scroller[data-animation="play"]{
    --_animated: infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 2rem));
    }
}
.portfolio div{
    text-overflow: ellipsis "[..]";
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    max-height: 300px;
}
input[type=text]{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    margin-top: 6px;
    margin-bottom: 16px; 
    height: 200px;
}
