body{
    background-color:black;
    color:white ; 
}

#nav .menuItem img{   
    float: left;
}


#nav .menuItem{   
    display: inline;
}


#nav .menuItem img{   
    float: left;
}
.homeMain{
    z-index: 2;
}
.videoSection video{
    z-index: -1;
}
.scroller{
    max-width: 100%;
}
.scroller__inner{
    padding-block: 1rem ;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
    transparent,
    white 20%,
    white 100%,
    transparent
    );
    mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 100%,
    transparent
    );
}
.scroller[data-animated="true"] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards)linear infinite;
}
.scroller[data-direction="right"]{
    --_animation-direction: reverse;
}
.scroller[data-direction="left"]{
    --_animation-direction: forwards;
}
.scroller[data-duration="slow"]{
    --_animation-duration: 120s;
}
.scroller[data-duration="fast"]{
    --_animation-duration: 20s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}


input[type=text]{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px;
    margin-bottom: 16px; 

  }

textarea{
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    margin-top: 6px;
    margin-bottom: 16px; 
    height: 200px;
}